body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f1ec;
}

.sidebar {
    width: 180px;
    background-color: #e1cdb9;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 22px;
    margin-bottom: 30px;
}

