body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7c8b64;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* * {
    margin: 0;
    padding: 0%;
} */
.login {
    height: 600px;
    background-color:aliceblue;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

}
.input {
    border: 20px;
    padding: 15px;
    border-radius: 5px;
}
.botao {
    border: 20px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}
.botao2 {
    border: 20px;
    padding: 10px;
    background-color: #c26a35;
    color: aliceblue;
    border-radius: 5px;
}
.exibir {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}